<%= form_for [@listing, @available_date], url: listing_availabilities_path(@listing) do |form| %>
  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
